@import "bootstrap";

/*******************
  Project styles
  *******************/

//A4 Paper size in ems
$paper-width:  49.792323332568905rem; 
$paper-height: 70.42057157034745rem;

//Size calculations
$unit: $paper-height / 30.2;
$logo-width: $unit*5.15;
$table-width: $paper-width - $logo-width - $unit*2; 

//Colours
$paper-colour:  #fbfbfb;
$accent-colour: #ffdd21;
$dark-accent:   #e3c017;
$dark-grey:     #312f24;

//Table grid colours
$dark-grid:    rgba(0,0,0,0.1); //27% black
$light-grid:   rgba(0,0,0,0.05); //07% black

//Fonts
$body-font:    Avenir LT Std;
$header-font:  Montserrat;
$body-font-size: $unit/3.333333;
$larger-font-size: $body-font-size*1.33333;
$body-line-height: ($unit/3.33333)*1.33333;

// Generic styles

html {
	font-size: 100%;
}

p {	margin: 0; }

body {
	padding: 30px;
	font-family: $body-font;
	text-rendering: optimizeLegibility;
	font-size: $body-font-size;
	line-height: $body-line-height;
	background-color: #333;
}

.wrapper {
	box-shadow: 0px 0px 200px 10px #111;
	position: relative;
	width: $paper-width;
	height: $paper-height;
	background-color: $paper-colour;
	margin: auto;
	overflow: hidden;
	padding: $unit*2;
}

h1 {
	font-family: $header-font;
	text-transform: uppercase;
	font-size: $unit;
	margin: 0;
	margin-bottom: $unit*2;
	position: relative;
}

h2 {
	font-size: $body-font-size;
	font-weight: 700;
	margin-bottom: 0;
	position: relative;
}

.background-screen {
	background-color: $accent-colour;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

table {
	font-size: $body-font-size;
	position: relative;
	thead{
		font-size: $larger-font-size;
		line-height: $body-line-height*1.3333;
		font-weight: 700;
		border-bottom-width: $unit/20;
		border-bottom-style: solid;
		border-bottom-color: $dark-grid;
	}
	tbody {
		tr {
			border-bottom-width: $unit/40;
			border-bottom-style: solid;
			border-bottom-color: $light-grid;
		}
	}
	tfoot {
		font-size: $larger-font-size;
		font-weight: 700;
		border-top-width: $unit/20;
		border-top-style: solid;
		border-top-color: $dark-grid;
	}
	tr td {
		padding: $body-line-height/2 $unit $body-line-height/2.5 0;
		line-height: $body-line-height;
		vertical-align: baseline;
	}
}


// Invoice Styles

.invoice-fao {
	float: left;
	width: $logo-width;
	margin-bottom: $unit*2;
	position: relative;
	span {
		font-weight: 700;
	}
}

.invoice-details {
	position: relative;
}

.invoice-contact-details {
	right: $unit*2;
	top: $unit*2;
	-webkit-transform:rotate(90deg);
	-webkit-transform-origin: top left;
	position: absolute;
	width: 0;
	white-space: nowrap;
	a {
		color: $dark-grey;
		display: block;
	}
}

table.invoice-items {
	clear: both;
	left: $logo-width;
	width: $table-width;
	margin-bottom: $unit*2;
	thead{
		th.item {
			width: $logo-width*2;
			max-width: $logo-width*2;
		}
	}
	tr td:first-child {
		width: $logo-width*2;
	}
}

.invoice-payment-terms {
	font-size: $larger-font-size;
	font-weight: 700;
	margin-bottom: $unit;
}

.invoice-thanks {
	font-size: $body-font-size*2;
	line-height: $body-font-size*2;
	font-weight: 700;
	span {
		font-size: $larger-font-size;
	}
}

.invoice-details-block {
	position: absolute;
	bottom: $unit*2;
}

.invoice-company-details {
	width: $logo-width*2;
	float: left;
}

.invoice-company-number {
	width: $logo-width*1.5;
	float: left;
	span {
		width: $unit*4;
		display: inline-block;
	}
}

.invoice-payment-details {
	margin-bottom: $unit;
}

.invoice-border-edge {
	width: $logo-width;
	height: $unit / 10;
	background-color: $dark-grey;
	position: absolute;
	bottom: 0;
	left: $unit *2;
}

.invoice-background-screen {
	@extend .background-screen;
	height: $logo-width * 1.5;
}

// Document Cover

.cover-background-screen {
	@extend .background-screen;
	height: $paper-height*0.66666;
}

h2.cover-title {
	font-size: $body-font-size*2;
	font-weight: 300;
	margin: $unit*2 0 $unit*2 $logo-width;
	width: $logo-width*2;
}

p.cover-subtitle {
	font-size: $larger-font-size;
	line-height:$larger-font-size*1.333;
	font-weight: 100;
	width: $logo-width*2;
	position: relative;
	margin-bottom: $logo-width;
}

.cover-row {
	position: relative;
	border-bottom: 1px solid $dark-accent;
	overflow: hidden;
	padding-bottom: $unit/2;
	p {
		width: $logo-width;
		padding-right: $unit/2;
		float: left;
	}
}

table.cover-contents {
	position: absolute;
	top: $paper-height*0.66666+$unit;
}



